html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  padding-top: 64px;
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input,
button,
textarea {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.5em;
}

:after,
:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid #e1e1e1;
  background: #ffffff;
  padding: 0 15px;
  z-index: 1001;
}

@media screen and (min-width: 768px) {
  .navbar {
    min-height: 40px;
    padding: 0 30px;
  }
}

.navbar .container::before {
  display: table;
  content: " ";
}

.navbar .container::after {
  display: table;
  content: " ";
  clear: both;
}

.navbar .container ul.left,
.navbar .container ul.right {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar .container ul.left > li.brand,
.navbar .container ul.right > li.brand {
  float: left;
}

.navbar .container ul.left > li.brand a,
.navbar .container ul.right > li.brand a {
  font-weight: 700;
  margin: 0;
  line-height: 38px;
  max-height: 44px;
  min-height: 44px;
  height: 44px;
  display: block;
  color: #000000;
  font-size: 20px;
  padding: 4px 0;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .navbar .container ul.left > li.brand a,
  .navbar .container ul.right > li.brand a {
    padding: 16px 0;
    font-size: 26px;
    line-height: 36px;
    height: 64px;
    min-height: 64px;
    max-height: 64px;
  }
}

.navbar .container ul.left > li.brand a span,
.navbar .container ul.right > li.brand a span {
  color: #ff0100;
}

.navbar .container ul.left > li.back-button,
.navbar .container ul.right > li.back-button {
  float: left;
}

.navbar .container ul.left > li.back-button a,
.navbar .container ul.right > li.back-button a {
  color: red;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
  line-height: 44px;
  max-height: 44px;
  min-height: 44px;
  height: 44px;
  display: block;
  font-size: 20px;
}

.navbar .container ul.left > li.back-button a .ion-ios-arrow-round-back,
.navbar .container ul.right > li.back-button a .ion-ios-arrow-round-back {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.navbar .container .left {
  float: left;
  width: auto;
}

.navbar .container .left::before {
  display: table;
  content: " ";
}

.navbar .container .left::after {
  display: table;
  content: " ";
  clear: both;
}

.navbar .container .right {
  float: right;
  width: auto;
}

.navbar .container .right > li {
  float: left;
}

.navbar li.address-wrapper {
  display: block;
  font-size: 16px;
  position: absolute;
  float: none;
  background: #ffffff;
  top: 45px;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar li.address-wrapper:hover {
  background: #ebebeb;
}

@media screen and (min-width: 768px) {
  .navbar li.address-wrapper:hover {
    background: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .navbar li.address-wrapper {
    min-height: 40px;
    position: relative;
    margin-left: 30px;
    float: left;
    width: auto;
    top: auto;
  }
}

.navbar li.address-wrapper .address-inner {
  padding: 2px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navbar li.address-wrapper .address-inner {
    padding: 12px 0;
  }
}

.navbar li.address-wrapper .address-inner .address {
  padding: 10px;
  border-radius: 4px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  color: #335491;
}

@media screen and (min-width: 768px) {
  .navbar li.address-wrapper .address-inner .address:hover {
    background: #efefef;
  }
}

.navbar li.address-wrapper .address-inner .address .ion-ios-pin {
  margin-right: 10px;
  position: relative;
  top: 1px;
  color: #335491;
}

.navbar li.address-wrapper .ion-ios-arrow-down {
  font-size: 12px;
  margin-left: 10px;
}

.navbar li.address-wrapper .ion-ios-arrow-up {
  font-size: 12px;
  margin-left: 10px;
  display: none;
}

.navbar li.address-wrapper.active .ion-ios-arrow-up {
  display: inline-block;
}

.navbar li.address-wrapper.active .ion-ios-arrow-down {
  display: none;
}

.navbar .search-wrapper {
  padding: 4px 0;
  margin-right: 5px;
  float: right;
}

@media screen and (min-width: 768px) {
  .navbar .search-wrapper {
    padding: 14px 0;
    max-height: 64px;
    margin-right: 15px;
  }
}

.navbar .search-wrapper .search-wrapper-inner {
  position: relative;
}

.navbar .search-wrapper .search-wrapper-inner .search-icon {
  position: absolute;
  top: 7px;
  right: 10px;
}

.navbar .search-wrapper .search-wrapper-inner .search-icon .icon {
  color: #c0c1c8;
}

.navbar .search-wrapper .search-wrapper-inner input {
  border: 1px solid #c0c1c8;
  border-radius: 3px;
  height: 36px;
  width: 170px;
  padding: 0 30px 0 10px;
}

@media screen and (min-width: 768px) {
  .navbar .search-wrapper .search-wrapper-inner input {
    width: 300px;
  }
}

.navbar .cart-icon {
  cursor: pointer;
  padding: 6px 17px;
  background: red;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 4px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .navbar .cart-icon {
    margin-top: 13px;
  }
}

.navbar .cart-icon .ion-ios-cart {
  margin-right: 5px;
}

.container--index {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container--index {
    max-width: 740px;
  }
}

.container--index .header {
  margin-top: 45px;
  margin-bottom: 20px;
}

.container--index .header .topbar {
  position: relative;
}

.container--index .header .topbar h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container--index .header .topbar form {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.container--index .header .topbar form label {
  margin-right: 5px;
}

.container--index .header .topbar form select {
  border: 1px solid #c0c1c8;
  padding: 4px 8px;
  height: 28px;
}

ul.truck-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.truck-list li {
  border: 1px solid #e2e2e2;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 30px;
}

ul.truck-list li:hover {
  border: 1px solid #202020;
  transition: border-color ease-out 300ms;
}

ul.truck-list li a {
  display: block;
  text-decoration: none;
}

ul.truck-list li a .truck-name {
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 500;
}

ul.truck-list li a .featured-image {
  margin-bottom: 15px;
  margin-right: -15px;
}

ul.truck-list li a .featured-image::before {
  display: table;
  content: " ";
}

ul.truck-list li a .featured-image::after {
  display: table;
  content: " ";
  clear: both;
}

ul.truck-list li a .featured-image .image-wrapper {
  padding-right: 15px;
  width: 50%;
  float: left;
}

ul.truck-list li a .featured-image .image-wrapper .image {
  height: 190px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

ul.truck-list li a .meta {
  color: #545454;
  line-height: 1;
}

ul.truck-list li a .meta::before {
  display: table;
  content: " ";
}

ul.truck-list li a .meta::after {
  display: table;
  content: " ";
  clear: both;
}

ul.truck-list li a .meta .left {
  float: left;
}

ul.truck-list li a .meta .right {
  float: right;
}

.dropdown {
  display: block;
  position: absolute;
  top: 59px;
  width: 40%;
  max-width: 370px;
  min-width: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 24px;
  border-radius: 3px;
  background: #ffffff;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .dropdown {
    min-width: 370px;
  }
}

.dropdown .dropdown--input {
  position: relative;
}

.dropdown .dropdown-preview {
  display: none;
  margin-top: 10px;
}

.dropdown .dropdown-preview .dropbox-map {
  margin: 10px 0;
}

.dropdown .dropdown-preview button {
  display: block;
  width: 100%;
  background: #3830e7;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 10px 16px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 16px;
}

.dropdown label {
  margin-bottom: 5px;
  display: block;
}

.dropdown input {
  border: 1px solid #e1e1e1;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 10px 38px 10px 32px;
  line-height: 44px;
  height: 44px;
  min-width: 270px;
  font-size: 14px;
  width: 100%;
  display: block;
  position: relative;
}

.dropdown .ion-ios-pin {
  position: absolute;
  left: 10px;
  top: 11px;
  font-size: 22px;
  color: #c0c1c8;
  z-index: 101;
}

.dropdown .ion-ios-close {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 44px;
  height: 44px;
  font-size: 26px;
  cursor: pointer;
  padding: 8px 16px 10px;
  color: #335491;
  z-index: 101;
}

.react-autosuggest__container .react-autosuggest__input {
  font-family: "Alegreya Sans", sans-serif;
}

.react-autosuggest__container .react-autosuggest__suggestions-container {
  background: #ffffff;
}

.react-autosuggest__container .react-autosuggest__suggestions-container ul {
  list-style-type: none;
  border: 1px solid #dbdce0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.react-autosuggest__container .react-autosuggest__suggestions-container ul li {
  border-bottom: 1px solid #dbdce0;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #545454;
}

.react-autosuggest__container .react-autosuggest__suggestions-container ul li.react-autosuggest__input--focused {
  background: #fafafa;
}

.react-autosuggest__container .react-autosuggest__suggestions-container ul li.react-autosuggest__suggestion--highlighted {
  background: #fafafa;
}

.react-autosuggest__container .react-autosuggest__suggestions-container ul li:last-child {
  border-bottom: none;
}

.pickup-meta label {
  display: block;
  font-weight: 700;
}

.pickup-meta select {
  width: 100%;
  border: 1px solid #c0c1c8;
  border-radius: 3px;
  height: 36px;
  padding: 0 30px 0 10px;
}

.pickup-meta .form-group {
  margin-bottom: 15px;
}

hr {
  height: 1px;
  border: none;
  margin: 30px 0;
  background: #e1e1e1;
}

table tfoot {
  color: #545454;
  font-size: 14px;
}

.tip-row .btn-group::before {
  display: table;
  content: " ";
}

.tip-row .btn-group::after {
  display: table;
  content: " ";
  clear: both;
}

.tip-row .btn-group .btn {
  display: block;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f2f3f4;
  color: #000000;
  width: 20%;
  float: left;
}

.tip-row .btn-group .btn:hover {
  background-color: #c9cdd1;
}

.tip-row .btn-group .btn.active {
  background: #545454;
  color: #ffffff;
}

.tip-row .btn-group .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tip-row .btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tip-row .btn-group input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.tip-row .custom-tip-wrapper {
  position: relative;
}

.tip-row .custom-tip-wrapper input.custom-tip {
  margin-top: 5px;
  border: 1px solid #c0c1c8;
  border-radius: 3px;
  height: 36px;
  padding: 0 30px 0 36px;
  width: 100%;
  font-size: 16px;
  display: block;
}

.tip-row .custom-tip-wrapper .custom-tip-label {
  position: absolute;
  top: 6px;
  left: 15px;
  font-size: 18px;
}

.container--order {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--order .food-truck-name {
  font-size: 36px;
  font-weight: 400;
  margin: 45px 0 15px;
}

.container--order .food-truck-address {
  margin-bottom: 0;
}

.container--order .food-truck-schedule {
  margin-bottom: 30px;
}

.container--order .category-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.container--order .category-menu::before {
  display: table;
  content: " ";
}

.container--order .category-menu::after {
  display: table;
  content: " ";
  clear: both;
}

.container--order .category-menu li {
  float: left;
  margin-right: 30px;
}

.container--order .category-menu li a {
  padding: 15px 0;
  color: #000000;
  display: block;
  text-decoration: none;
}

.container--order .menu .category {
  margin-bottom: 45px;
}

.container--order .menu .category .category-name {
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
  margin-bottom: 15px;
}

.container--order .menu .items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 -10px;
  flex-flow: row wrap;
  display: flex;
}

.container--order .menu .items .item {
  cursor: pointer;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
  min-height: 120px;
}

@media screen and (min-width: 768px) {
  .container--order .menu .items .item {
    width: 50%;
  }
}

.container--order .menu .items .item.item--has-thumbnail .item-inner {
  padding-right: 160px;
}

.container--order .menu .items .item .item-inner {
  border: 1px solid #e0e1e5;
  padding: 15px;
  border-radius: 4px;
  flex-direction: column;
  display: flex;
  height: 100%;
  position: relative;
}

.container--order .menu .items .item .item-inner .item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 5px;
}

.container--order .menu .items .item .item-inner .item-description {
  font-size: 16px;
  color: #545454;
}

.container--order .menu .items .item .item-inner .item-price {
  background: rgba(255, 255, 255, 0.8);
  line-height: 1;
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 2px;
  font-weight: 700;
  padding: 5px 10px;
  font-size: 18px;
}

.container--order .menu .items .item .item-inner .item-thumbnail {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: -1px;
  width: 150px;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.65);
}

.item-modal-container .item-modal {
  transform: translate(0, 0);
  max-width: 630px;
  margin: 30px auto;
  position: relative;
}

.item-modal-container .item-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px 20px 92px;
  border-radius: 5px;
}

.item-modal-container .item-modal-content .top-close-button {
  font-size: 32px;
  cursor: pointer;
}

.item-modal-container .item-modal-content h1 {
  margin: 20px 0 15px;
}

.item-modal-container .item-modal-content img {
  max-width: 100%;
  width: 100%;
}

.item-modal-container .item-modal-content label {
  display: block;
}

.item-modal-container .item-modal-content textarea {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  display: block;
}

.item-modal-container .item-modal-content .item-meta {
  margin: 20px 0;
}

.item-modal-container .item-modal-content .item-meta .item-modifier-heading::before {
  display: table;
  content: " ";
}

.item-modal-container .item-modal-content .item-meta .item-modifier-heading::after {
  display: table;
  content: " ";
  clear: both;
}

.item-modal-container .item-modal-content .item-meta .item-modifier-heading .item-modifier-category {
  font-size: 16px;
  float: left;
  color: #000000;
  font-weight: 700;
}

.item-modal-container .item-modal-content .item-meta .item-modifier-heading .item-modifier-category-helper {
  font-weight: 400;
  font-size: 14px;
  color: #545454;
  display: block;
  float: left;
  margin-left: 15px;
}

.item-modal-container .item-modal-content .item-meta .item-modifier-heading .item-modifier-type {
  font-size: 14px;
  color: #70757a;
  float: right;
}

.item-modal-container .item-modal-content .item-meta ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-modal-container .item-modal-content .item-meta ul li {
  font-size: 14px;
  padding: 8px 0;
  border-bottom: 1px solid #ebebeb;
}

.item-modal-container .item-modal-footer {
  position: absolute;
  bottom: 0;
  padding: 15px;
  border-top: 1px solid #dbdce0;
  left: 0;
  right: 0;
}

.item-modal-container .item-modal-footer::before {
  display: table;
  content: " ";
}

.item-modal-container .item-modal-footer::after {
  display: table;
  content: " ";
  clear: both;
}

.item-modal-container .item-modal-footer input {
  float: right;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 10px;
  display: inline-block;
  height: 40px;
  line-height: 37px;
  margin-right: 10px;
  text-align: center;
  width: 60px;
  font-size: 16px;
}

.item-modal-container .item-modal-footer button.add {
  float: right;
  padding: 9px 30px;
  background: red;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  max-height: 40px;
}

.item-modal-container .item-modal-footer button.add:disabled {
  opacity: 0.35;
}

.item-modal-container .item-modal-footer button.close {
  float: left;
  padding: 9px 30px;
  background: #f7f8f8;
  color: #000000;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  max-height: 40px;
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 30000;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.65);
}

.open .cart {
  right: 0%;
}

.cart {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  background: #ffffff;
  z-index: 20000;
  width: 340px;
  transition: right 1000ms ease-out;
}

.cart .cart-content .cart-header {
  padding: 15px;
  border-bottom: 1px solid #e0e1e5;
}

.cart .cart-content .cart-header .cart-truck-label {
  margin: 0;
}

.cart .cart-content .cart-header .cart-truck-name {
  font-size: 24px;
  margin: 5px 0 20px;
}

.cart .cart-content .cart-header .close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 32px;
  position: relative;
  left: -10px;
  top: -10px;
}

.cart .cart-content .cart-header .close .ion-ios-close {
  position: relative;
  top: 3px;
  left: 13px;
}

.cart .cart-content .cart-header button {
  padding: 9px 30px;
  background: red;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  width: 100%;
  display: block;
  max-height: 40px;
  font-size: 18px;
  line-height: 23px;
}

.cart .cart-content .cart-header button .left {
  float: left;
}

.cart .cart-content .cart-header button .right {
  float: right;
}

.cart .cart-content ul.cart-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart .cart-content ul.cart-items .cart-item {
  padding: 15px;
  border-bottom: 1px solid #e0e1e5;
  position: relative;
  min-height: 90px;
}

.cart .cart-content ul.cart-items .cart-item::before {
  display: table;
  content: " ";
}

.cart .cart-content ul.cart-items .cart-item::after {
  display: table;
  content: " ";
  clear: both;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-quantity {
  width: 30px;
  float: left;
  font-size: 18px;
  font-weight: 400;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-body {
  width: 280px;
  float: left;
  position: relative;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-body .cart-item-name {
  font-size: 18px;
  font-weight: 400;
  padding-right: 60px;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-body .cart-item-price {
  position: absolute;
  right: 0;
  top: 0;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-modifiers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #6b6b83;
  font-size: 16px;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-delete {
  cursor: pointer;
  position: absolute;
  bottom: 18px;
  right: 8px;
  height: 24px;
  width: 24px;
}

.cart .cart-content ul.cart-items .cart-item .cart-item-delete > .icon {
  left: 10px;
  position: relative;
  top: 2px;
}

.container--checkout {
  box-sizing: content-box;
}

@media screen and (min-width: 768px) {
  .container--checkout {
    padding-right: 340px;
  }
}

.container--checkout .checkout-summary-inner {
  max-width: 640px;
  margin: 0 auto;
  min-height: 40px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container--checkout .checkout-summary-inner {
    padding: 0 30px;
  }
}

.container--checkout .checkout-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container--checkout .checkout-items .checkout-item {
  padding: 20px 0;
  border-bottom: 1px solid #e0e1e5;
}

.container--checkout .checkout-items .checkout-item:last-child {
  border-bottom: none;
}

.container--checkout .checkout-items .checkout-item .checkout-item-details {
  position: relative;
}

.container--checkout .checkout-items .checkout-item .checkout-item-details::before {
  display: table;
  content: " ";
}

.container--checkout .checkout-items .checkout-item .checkout-item-details::after {
  display: table;
  content: " ";
  clear: both;
}

.container--checkout .checkout-items .checkout-item .checkout-item-quantity {
  width: 60px;
  float: left;
}

.container--checkout .checkout-items .checkout-item .checkout-item-price {
  position: absolute;
  right: 0;
  top: 0;
}

.container--checkout .checkout-items .checkout-item .checkout-item-modifier-list {
  padding: 0 0 0 60px;
  margin: 0;
  list-style-type: none;
  color: #6b6b83;
  font-size: 14px;
}

.container--checkout .button-summary {
  margin-top: 10px;
  font-size: 18px;
}

.container--checkout .button-summary::before {
  display: table;
  content: " ";
}

.container--checkout .button-summary::after {
  display: table;
  content: " ";
  clear: both;
}

.container--checkout .button-summary .pull-right {
  float: right;
}

.container--checkout .section h2 {
  font-weight: 700;
}

.container--checkout .section h3 {
  margin-bottom: 5px;
  font-weight: 700;
}

.container--checkout .section p {
  margin: 0;
}

.button-checkout {
  margin-top: 15px;
  padding: 9px 30px;
  background: red;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  width: 100%;
  display: block;
  max-height: 40px;
  font-size: 18px;
  line-height: 23px;
}

.checkout-summary {
  display: none;
  position: fixed;
  right: 0;
  top: 44px;
  bottom: 0;
  width: 340px;
  border-left: 1px solid #e1e1e1;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .checkout-summary {
    display: block;
  }
}

.checkout-summary .checkout-summary-content {
  padding: 15px;
}

.checkout-summary .checkout-summary-content table {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}

.checkout-summary .checkout-summary-content table th {
  font-weight: normal;
}

.checkout-summary .checkout-summary-content table tr.total th,
.checkout-summary .checkout-summary-content table tr.total td {
  font-weight: 700;
  font-size: 20px;
}

